@import './base.scss';

.record-bar {
  background-color: $ash-gray;
  padding: 16px;

  &--wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 16px 16px;
  }

  &--player {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 32px;
    margin: 8px;
  }

  &--round-button {
    width: 36px;
    height: 36px;
    font-family: Oswald;
    line-height: 1;
    justify-content: center;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    margin: 8px;
    
    &.long {
      width: 100px;
      border-radius: 25px;
      flex-direction: row;
    }

    &--label {
      font-size: 14px;
      margin-left: 8px;
      display: inline;
    }

    &.inactive {
      border-color: $primary;
      color: $primary;
    }

    &.active {
      border-color: $accent;
      color: $accent;
      animation: pulse-accent 2s infinite;
    }

    &.loading {
      border-color: $ash-gray;
      color: $ash-gray;
    }

    &.disabled {
      border-color: $ash-gray;
      color: $ash-gray;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 1024px){
  .record-bar {
    &--player {
      width: 40vw;
    }
  }
}

@media (max-width: 768px){
  .record-bar {
    &--player {
      width: 20vw;
    }
  }
}