@import '_base.scss';

.sidebar {
    background-color: $main-bg;
    height: 100vh;
    color: white;
    padding: 16px 0;
    margin: 0;

    &--main-icon {
      margin-top: 48px;
      color: $primary-lighter;
    }
    
    &--name {
      font-family: Oswald;
      font-weight: 600;
      font-size: 24px;
      color: $primary-lighter;
      margin: 16px;
    }

    &--submenu-wrap {
      margin: 48px 0;
      padding: 0;
    }

    &--submenu-icon {
      margin-right: 4px;

      &.inactive {
        margin-right: 8px;
        margin-bottom: 2px;
      }
    }

    &--submenu-item {
      padding: 8px 24px;
      vertical-align: middle;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &.active {
        height: 60px;
        font-size: 18px;
        line-height: 40px;
        background-color: $ash-gray;
        color: $primary-darker;
        font-weight: 600;
      }

      &.inactive {
        height: 48px;
        line-height: 28px;
        color: $primary-lighter;

        &:hover {
          color: white;
          font-weight: 600;
          transition: 0.3s ease-in-out;
        }
      }
    }

  &--alt-character {
    position: absolute;
    bottom: 0;
    font-family: Oswald;
    font-size: 18px;
    color: $ash-gray;
    padding: 0 0 48px 24px;
    text-align: left;
    cursor: pointer;
    
    &:hover {
      color: white;
      transition: 0.3s ease-in-out;
    }
    &---icon {
      margin-right: 8px;
    }
  }
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: $primary-lighter;
  background-color: $primary-lighter;
}